* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(240, 236, 236);
}


a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

p {
    text-align: justify;
}


.height-small {
    height: 48px;
}

.round-circle {
    width: 4.5rem;
    height: 4.5rem;
}

.round-circle:hover {
    border: 0.2rem solid black;
}

